# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.vscode/
quotes-frontend/.DS_Store
quotes-frontend/env/
quotes-frontend/.env
quotes-frontend/__pycache__
quotes-frontend/*.pyc
quotes-frontend/__pycache__/
quotes-stats/.DS_Store
quotes-stats/env/
quotes-stats/.env
quotes-stats/__pycache__
quotes-stats/*.pyc
quotes-stats/__pycache__/
# Test binary, built with `go test -c`
*.test
.env
# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
